.spinner--line-jump
{
	position: relative;
	width: 150px;
	height: 50px;
}

.spinner--line-jump .dot
{
	position: absolute;
	left: calc(var(--count) * 50px);
	top: 50%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 auto;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-delay: calc(var(--count) * (1s / 2));
	animation-name: spinner--line-jump-animation;
	
}

@keyframes spinner--line-jump-animation
{
	0%
	{
		top: 50%;
	}

	12.5%
	{
		top: 0px;
	}

	25%
	{
		top: 50%;
	}

}